<!DOCTYPE html>
<html>
<head>
  <title>Connect</title>
  <%= stylesheet_link_tag    "zuora_connect/application", media: "all" %>
  <%= javascript_include_tag "zuora_connect/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
